[Unit]
Description= Beer Machine web UI
After=network.target beer_machine.service

[Service]
Type=simple
ExecStart=/usr/local/bin/node /home/pi/beer_machine/nodejs/server.js
WorkingDirectory=/home/pi/beer_machine/nodejs/
User=pi

[Install]
WantedBy=multi-user.target
