<% include header %>

<body>

  <!-- global container for the page -->
  <div class="container">
    <div class="row">
    <ul class="nav nav-tabs">
      <li><a href="#">Home</a></li>
      <li><a href="#">New Batch</a></li>
      <li><a href="#">Batch History</a></li>
      <li><a href="#">Settings</a></li>
    </ul>
      </div>
    </div>
</body>

<% include footer %>
