<% include header %>
<% include sidebar %>

  <!-- main container for dashboard
  'content' class contains extra css for padding (due to navbar-fixed-top)-->
  <div class="container-fluid content">
    <div class="row">

      <!-- main dashboard div -->
      <div class="col-xs-10">

    <h1 class="page-header">Dashboard</h1>

    <div class="col-sm-6 col-lg-3">
      <div class=" panel panel-primary">
        <div class="panel-heading text-center">recipe</div>
        <div class="panel-body">
          <span style ="font-size:27px;">  Citra IPA </span> <i class="fa fa-beer fa-3x pull-right" aria-hidden="true"> </i>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class=" panel panel-primary">
        <div class="panel-heading text-center">Current Temperature</div>
        <div class="panel-body">
            <span style ="font-size:27px;"> 21,75 &deg;C </span> <i class="fa fa-thermometer-full fa-3x pull-right" aria-hidden="true"></i>  </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class=" panel panel-primary">
        <div class="panel-heading text-center">remaining time</div>
        <div class="panel-body">
            <span style ="font-size:27px;"> 17 days </span> <i class="fa fa-hourglass-half fa-3x pull-right" aria-hidden="true"> </i> </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class=" panel panel-primary">
        <div class="panel-heading text-center">System status</div>
        <div class="panel-body">
          <span style ="font-size:27px;"> Running </span> <i class="fa fa-check-circle fa-3x pull-right" aria-hidden="true" style="color:green"> </i> </p>
        </div>
      </div>
    </div>

    <!-- Temperature log panel -->
    <div class="col-xs-12 hidden-xs">
      <div class=" panel panel-primary">
        <div class="panel-heading">temperature log</div>
        <div class="panel-body">

          <div class="col-md-9">
            <div class="ct-chart ct-major-twelfth"></div>
            <script>
            var data = {
              labels: [
                ],
              series: [
                [<% point_list.forEach(function(row){ %>
                <%=row.temperature%>,
                <% }) %>]
              ]
            };

            var options = {
              lineSmooth: Chartist.Interpolation.monotoneCubic({fillHoles:false}),
              showPoint: false,
              low: 21,
              high: 23,
              axisX: {
                showGrid: false
              }
            };

            new Chartist.Line('.ct-chart', data, options);
            </script>
          </div>

          <!-- TODO : populate data below from database -->
          <!-- recipe information panel -->

          <div class="col-md-3">
            <div class=" panel panel-primary">
              <div class="panel-body">
                <p><b> statistics :  </b></p>
                  <p> fermentation progress : 22% </p>
                  <p> cooling ratio : 34% </p>
                  <p> threshold overrun: 3 </p>
                  <p> threshold underrun: 3 </p>
              </div>
            </div>
              <button type="button" class="btn btn-danger btn-lg center-block">Shutdown</button>
          </div>

        </div>
      </div>
    </div>
    <!--
    <div class="col-md-3">
      <div class=" panel panel-primary">
        <div class="panel-body">
          <p><b> System status :  </b></p>
          <p> daemon : running </p>
          <p> network : 192.168.1.65 </p>
          <p> thermometer 1-wire name : XXXXXX </p>
          <p> power socket code : YYYYYY </p>
          <p> uptime : 134 h</p>
        </div>
      </div>
    </div>
  -->
  </div>
</div>
</body>

<% include footer %>
