<% include header %>
<% include sidebar %>

  <!-- main container for dashboard
  'content' class contains extra css for padding (due to navbar-fixed-top)-->
  <div class="container-fluid content">
    <div class="row">
      <!-- main dashboard div -->
      <div class="col-xs-10">
        <h1 class="page-header">Overview</h1>
      </div>
    </div>
  </div>
</body>

<% include footer %>
