<% include header %>
<% include sidebar %>

  <!-- main container for dashboard
  'content' class contains extra css for padding (due to navbar-fixed-top)-->
  <div class="container-fluid content">
    <div class="row">

      <!-- main dashboard div -->
      <div class="col-xs-10">

        <h1 class="page-header">new batch creation</h1>

        <form action="/new_batch" method="post">
           <div class="form-group" >
          <div>
            <label for="batch_name"><b>batch name:</b></label>
            <input type="text" id="batch_name" name="batch_name" class="form-control" />
          </div>
          <div>
            <label for="temperature"><b>Temperature:</b></label>
            <input type="text" id="temperature" name="temperature" class="form-control"/>
          </div>
          <div>
            <label for="duration"><b>Duration:</b></label>
            <input type="text" id="duration" name="duration" class="form-control"/>
          </div>
          <div>
            <label for="recipe"><b>Recipe:</b></label>
            <textarea id="recipe" name="" class="form-control"></textarea>
          </div>
          <!-- button to validate -->
          <div>
            <button type="submit" class="btn btn-primary">create new batch !</button>
          </div>
        </form>

      </div>
    </div>
  </div>

</div>
</body>

<% include footer %>
